import os
import pytz

# NOTE! supervisord reads only one config file -- the one in the root.

cookie_secret = "asdasdasdasdasd"
sentry_key = 'https://asdasdasdasdasd@app.getsentry.com/12345'
# coordinate these settings with part_2/conf.py
ADDRESS='127.0.0.1'
PORT=8888
SIGNURL="http://%s:%s/api" %(ADDRESS,PORT)

# the server app reads only one config file -- the one in the root.
XML_URL = 'http://meetingplannerxml'
TIMEOUT = 2 # seconds
LOCAL_TZ = pytz.timezone('America/Los_Angeles') # use your local timezone name here
XMLFILE = 'MeetingPlanner.xml'

# rethinkdb settings
RDB_HOST =  os.environ.get('RDB_HOST') or 'localhost'
RDB_PORT = os.environ.get('RDB_PORT') or 28015
PROJECT_DB = 'test'
PROJECT_TABLE = 'thinktor'
POLLPERIOD = 60
